CLICKUP_API_KEY=replace_with_clickup_api_key
CLICKUP_TEAM_ID=replace_with_clickup_team_id

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DB=clickup
POSTGRES_USER=mkiel
POSTGRES_PASSWORD=

# Set to 1 to skip pg_dump during full fetch (e.g. no client tools locally)
# SKIP_PG_DUMP=0

WEBHOOK_POSTGRES_HOST=host.docker.internal
WEBHOOK_POSTGRES_PORT=5432
WEBHOOK_POSTGRES_DB=clickup_webhooks
WEBHOOK_POSTGRES_USER=clickup_user
WEBHOOK_POSTGRES_PASSWORD=
